{% comment %} https://cdn.shopify.com/s/files/1/0757/2095/0079/files/erl_made_in_california_chapter_28538.jpg?v=1729720389 {% endcomment %}

<div class=' twcss-w-full '>
  <a href='/collections/accessories' class=' twcss-relative twcss-block' title='{{ billboard.title }}'>
    <img
      src='https://cdn.shopify.com/s/files/1/0757/2095/0079/files/erl_made_in_california_chapter_28538.jpg?v=1729720389'
      alt='Accessories'
      width='100%'
      height='auto'
    >

    <div class='twcss-text-[8vw] md:twcss-text-[10vw] twcss-font-panton twcss-uppercase  twcss-absolute  twcss-top-0 twcss-left-0  twcss-z-10  twcss-text-center twcss-w-full twcss-h-full twcss-items-center twcss-justify-center twcss-flex  '>
      Shop Accessories
    </div>
  </a>
</div>
