{% comment %} plaid-boxer-short-set-brown-plaids {% endcomment %}
{% assign billboard = all_products['plaid-boxer-short-set-brown-plaids'] %}

<div class=' twcss-w-full '>
  <a href='/collections/artisanal' class=' twcss-relative twcss-block' title='{{ billboard.title }}'>
    <img
      src='https://cdn.shopify.com/s/files/1/0757/2095/0079/files/erl_made_in_california_chapter_210385_1_fddabf1a-8a8d-4ac5-8ddd-5ea60b8dd8a0.jpg?v=1729719360'
      alt='Artisanal'
      width='100%'
      height='auto'
    >

    <div class='twcss-text-[8vw] md:twcss-text-[10vw] twcss-font-panton twcss-uppercase  twcss-absolute  twcss-top-0 twcss-left-0  twcss-z-10  twcss-text-center twcss-w-full twcss-h-full twcss-items-center twcss-justify-center twcss-flex  '>
      Shop Artisanal
    </div>
  </a>
</div>
