{{ 'component-card.css' | asset_url | stylesheet_tag }}

{% if product.metafields.product.shop_the_look != blank %}
  <div class='md:twcss-grid md:twcss-grid-cols-4'>
    {% for metaproduct in product.metafields.product.shop_the_look.value %}
      {%
        render 'card-product',
        card_product: metaproduct,
        media_aspect_ratio: 2/3,
        show_secondary_image: false,
        show_vendor: false,
        show_rating: false,
        lazy_load: true,
        show_quick_add: false
      %}
    {% endfor %}
  </div>
{% endif %}
