<svg
  class='twcss-w-[20vw] md:twcss-w-[7vw]'
  aria-label='Explore'
  viewBox='0 0 412 88'
  fill='none'
  xmlns='http://www.w3.org/2000/svg'
>
  <title>Explore</title>
  <path d="M1.08977 0L52.6098 0.69L52.3798 18.15L20.1298 17.72L19.9598 30.72L49.8798 31.12L49.6598 47.8L19.7398 47.4L19.5298 63.52L52.7198 63.96L52.4698 82.48L0.00976562 81.78L1.08977 0Z" fill="white"/>
  <path d="M54.4399 0.709961L75.6199 0.989961L86.2999 26.29L97.3499 1.27996L118.31 1.55996L98.4199 40.9L119.05 83.35L97.4499 83.06L85.5099 56.63L72.8699 82.74L51.3999 82.45L73.4299 40.12L54.4399 0.709961Z" fill="white"/>
  <path d="M120.99 1.6001L152.95 2.0301C159.91 2.1201 165.09 4.3701 168.5 8.7601C171.91 13.1601 173.56 19.3701 173.45 27.4001C173.34 35.6501 171.37 42.0801 167.53 46.6801C163.69 51.2801 157.9 53.5201 150.14 53.4201L139.62 53.2801L139.21 83.6201L119.9 83.3601L120.99 1.6001ZM139.84 36.7101L144.55 36.7701C148.26 36.8201 150.87 36.0101 152.39 34.3401C153.91 32.6701 154.69 30.5101 154.73 27.8701C154.76 25.3001 154.14 23.1201 152.86 21.3201C151.58 19.5201 149.15 18.5901 145.55 18.5401L140.08 18.4701L139.84 36.7101Z" fill="white"/>
  <path d="M178.63 2.37012L197.86 2.63012L197.04 64.2601L227.04 64.6601L226.77 84.7901L177.54 84.1301L178.63 2.37012Z" fill="white"/>
  <path d="M226.94 43.9598C227.12 30.6098 230.09 20.2598 235.84 12.8898C241.6 5.52978 249.53 1.91978 259.63 2.04978C269.99 2.18978 277.92 5.94978 283.42 13.3298C288.92 20.7098 291.59 30.9798 291.41 44.1498C291.28 53.7098 289.95 61.5298 287.43 67.6098C284.9 73.6898 281.3 78.4098 276.63 81.7498C271.96 85.0898 266.17 86.7098 259.27 86.6198C252.25 86.5298 246.47 84.9798 241.91 81.9798C237.35 78.9798 233.69 74.2798 230.91 67.8898C228.14 61.4898 226.81 53.5198 226.94 43.9598ZM246.16 44.3198C246.05 52.5698 247.14 58.5198 249.42 62.1598C251.7 65.7998 254.86 67.6398 258.88 67.6998C263.01 67.7498 266.23 66.0298 268.54 62.5298C270.85 59.0298 272.07 52.6998 272.19 43.5498C272.29 35.8498 271.19 30.2198 268.87 26.6298C266.55 23.0498 263.37 21.2298 259.33 21.1698C255.45 21.1198 252.32 22.8798 249.92 26.4598C247.52 30.0398 246.27 35.9898 246.16 44.3198Z" fill="white"/>
  <path d="M296.25 85.7102L297.34 3.9502L329.38 4.3802C335.32 4.4602 339.85 5.1902 342.98 6.5702C346.1 7.9502 348.6 10.4702 350.48 14.1202C352.36 17.7702 353.26 22.2002 353.19 27.4102C353.13 31.9502 352.34 35.8502 350.82 39.1202C349.31 42.3902 347.25 45.0302 344.64 47.0402C342.98 48.3202 340.72 49.3702 337.85 50.1902C340.13 51.2302 341.78 52.2502 342.81 53.2702C343.51 53.9502 344.51 55.3902 345.83 57.6102C347.14 59.8202 348.02 61.5302 348.45 62.7302L357.44 86.5502L335.72 86.2602L325.78 61.1402C324.52 57.8902 323.39 55.7702 322.38 54.7902C321.01 53.5102 319.45 52.8602 317.69 52.8302L315.99 52.8102L315.55 85.9902L296.24 85.7302L296.25 85.7102ZM316.21 37.3402L324.32 37.4502C325.2 37.4602 326.9 37.1102 329.43 36.4002C330.71 36.0802 331.76 35.2402 332.59 33.8802C333.41 32.5202 333.84 30.9402 333.86 29.1602C333.9 26.5202 333.29 24.4902 332.03 23.0502C330.78 21.6202 328.39 20.8802 324.89 20.8402L316.44 20.7302L316.22 37.3502L316.21 37.3402Z" fill="white"/>
  <path d="M359.44 4.77979L410.96 5.46978L410.73 22.9298L378.48 22.4998L378.31 35.4998L408.23 35.8998L408.01 52.5798L378.09 52.1798L377.88 68.2998L411.07 68.7398L410.82 87.2598L358.36 86.5598L359.45 4.79979L359.44 4.77979Z" fill="white"/>
</svg>
