<span class='twcss-w-[4.75vw] md:twcss-w-[1.5vw]'>
  {%- liquid
    if cart == empty
      render 'icon-cart-empty'
    else
      render 'icon-cart'
    endif
  -%}
</span>
{%- if cart != empty -%}
  <div class='twcss-hidden md:twcss-flex twcss-mt-[.15em] twcss-uppercase'>
    {{ 'templates.cart.cart' | t }}
    {%- if cart.item_count < 100 -%}
      <span>:{{ cart.item_count }}</span>
    {%- endif -%}
    {% comment %} <span>{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span> {% endcomment %}
  </div>
{%- endif -%}
