.accordion summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 0;
  text-transform: uppercase;
  text-align: right;
}

.accordion .summary__title {
  display: flex;
  flex: 1;
  /* justify-content: flex-end; */
  /* padding: 0 2rem; */
}

.accordion .summary__title + .icon-caret {
  height: calc(var(--font-heading-scale) * 0.6rem);
}

.accordion + .accordion {
  margin-top: 0;
  border-top: none;
}

.accordion {
  display: flex;
}

*:not(.product__accordion) + .product__accordion {
  margin-top: 3em;
}

.accordion__title {
  display: inline-block;
  /* max-width: calc(100% - 6rem); */
  margin: 0;
  word-break: break-word;
  text-transform: uppercase;
  text-align: left;
  font-weight: normal;
  line-height: 1.2;
  /* white-space: nowrap; */
}

.accordion__title:hover {
  opacity: 1 !important;
  color: white;
}

.accordion .icon-accordion {
  align-self: center;
  fill: rgb(var(--color-foreground));
  height: calc(var(--font-heading-scale) * 2rem);
  margin-right: calc(var(--font-heading-scale) * 1rem);
  width: calc(var(--font-heading-scale) * 2rem);
}

.accordion details[open] > summary .icon-caret {
  transform: rotate(180deg);
}

.accordion__content {
  margin-bottom: 1em;
  margin-top: 0em;
  word-break: break-word;
  overflow-x: auto;
}

.accordion__content p {
  max-width: 30em;
}

.accordion__content * {
  font-weight: normal;
}

.accordion__content img {
  max-width: 100%;
}
