.spread-wrapper-title {
  margin-top: 0;
  margin-bottom: 3rem;
}

.spread {
}

.spread__item > * {
  width: 100%;
}

.spread__item .card__content {
  flex-grow: initial;
}

.spread-card {
  height: 100%;
  position: relative;
  border-radius: var(--border-radius);
  border: var(--border-width) solid
    rgba(var(--color-foreground), var(--border-opacity));
  padding: var(--image-padding);
}
